*{
    box-sizing: border-box;
    margin: 5px;
    padding: 0px;
    margin-bottom: 10px;
}

body > header{ /* coloca a edição do header que está na posição diretamente posterior ao body  */
    background-color: rgba(187, 0, 0, 0.856);
    color: white;
    text-align: center;
}
header a {
    color: white;
    text-decoration: none;
}

.articles{
    display: flex;
    flex-wrap: wrap;
}

.articles article img {
    width: 100%;
}
.articles article{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    text-decoration: none;
    
}


#economia,
#ultimas_noticias{
    width: 1366px;
    margin: 0 auto;
}

#ultimas_noticias{
    background-color: rgba(96, 163, 250, 0.3);

}

#economia{
    background-color: rgba(228, 255, 78, 0.527);
}

body header a : hover